#
# Qubes Builder Gitlab CI
#

stages:
  - test
  - prep
  - build

variables:
  DEBUG: "1"
  GIT_SUBMODULE_STRATEGY: recursive

#
# test
#

lint:
  stage: test
  image: fedora:latest
  tags:
    - docker
  before_script:
    - sudo dnf install -y python3-black
  script:
    - black -v --diff --color --check qubesbuilder

mypy:
  stage: test
  image: fedora:latest
  tags:
    - docker
  before_script:
    - sudo dnf install -y python3-mypy python3-pip
    - sudo python3 -m pip install types-PyYAML types-python-dateutil
  script:
    - mypy --install-types --non-interactive --junit-xml mypy.xml qubesbuilder
  artifacts:
    reports:
      junit: mypy.xml

shellcheck:
  stage: test
  image: fedora:latest
  tags:
    - docker
  before_script:
    - sudo dnf install -y ShellCheck git
  script:
    - shellcheck -x -e SC1117 $(grep -l '^#!/bin/\(ba\)\?sh' $(git ls-files))

.pytest:
  stage: test
  tags:
    - qubes
  artifacts:
    paths:
      - artifacts/htmlcov/
    reports:
      junit: artifacts/qubesbuilder.xml
      coverage_report:
        coverage_format: cobertura
        path: artifacts/coverage.xml
  coverage: '/TOTAL.*\s(\d+)%/'
  variables:
    PYTHONPATH: .
    TMPDIR: /home/user
    PYTEST_ARGS: -v --color=yes --cov qubesbuilder --cov-report term --cov-report html:artifacts/htmlcov --cov-report xml:artifacts/coverage.xml --junitxml=artifacts/qubesbuilder.xml
  before_script:
    - sudo dnf install -y python3-pathspec mock
    - tools/generate-container-image.sh docker fedora-36-x86_64

pytest:
  extends: .pytest
  script:
    - pytest-3 $PYTEST_ARGS tests/test_executors.py tests/test_functions.py tests/test_objects.py

pytest-cli:
  extends: .pytest
  script:
    - pytest-3 $PYTEST_ARGS tests/test_cli.py

#
# build job skeleton
#

.init_cache_job:
  stage: prep
  tags:
    - vm
  artifacts:
    paths:
      - artifacts.tar.xz
  before_script:
    - docker pull fepitre/qubes-builder-fedora:latest
    - docker tag fepitre/qubes-builder-fedora:latest qubes-builder-fedora:latest
    - sudo dnf install -y python3-debian dpkg-dev openssl tree
  script:
    - cp tests/builder-ci.yml builder.yml
    - ./qb -d "${CI_JOB_NAME#cache-}" package init-cache
    - tar cJf artifacts.tar.xz --strip-components=1 artifacts

.component_docker_job:
  stage: build
  tags:
    - vm
  artifacts:
    paths:
      - artifacts
  before_script:
    - cp -r tests/gnupg ~/.gnupg
    - chmod 700 ~/.gnupg
    - docker pull fepitre/qubes-builder-fedora:latest
    - docker tag fepitre/qubes-builder-fedora:latest qubes-builder-fedora:latest
    - tar xf artifacts.tar.xz
    - sudo dnf install -y python3-debian dpkg-dev openssl tree
  script:
    - cp tests/builder-ci.yml builder.yml
    - ./qb -d "${CI_JOB_NAME#docker-}" package all
  after_script:
    - rm -rf artifacts/cache
    - tree artifacts

.component_podman_job:
  stage: build
  tags:
    - vm
  artifacts:
    paths:
      - artifacts
  before_script:
    - cp -r tests/gnupg ~/.gnupg
    - chmod 700 ~/.gnupg
    - sudo sed -i "/$(id -u -n)/d" /etc/subuid
    - sudo sed -i "/$(id -g -n)/d" /etc/subgid
    - echo $(id -u -n):$(( $(id -u)*65536 )):65536 | sudo tee -a /etc/subuid
    - echo $(id -g -n):$(( $(id -g)*65536 )):65536 | sudo tee -a /etc/subgid
    - systemctl --user start podman
    - podman pull docker.io/fepitre/qubes-builder-fedora:latest
    - podman tag docker.io/fepitre/qubes-builder-fedora:latest qubes-builder-fedora:latest
    - tar xf artifacts.tar.xz
    - sudo dnf install -y python3-debian dpkg-dev openssl tree
  script:
    - cp tests/builder-ci.yml builder.yml
    - sed -i 's/docker/podman/' builder.yml
    - ./qb -d "${CI_JOB_NAME#podman-}" package all
  after_script:
    - rm -rf artifacts/cache
    - tree artifacts

.component_qubes_job:
  stage: build
  tags:
    - qubes
  artifacts:
    paths:
      - artifacts
  before_script:
    - cp -r tests/gnupg ~/.gnupg
    - chmod 700 ~/.gnupg
    - tar xf artifacts.tar.xz
    - sudo dnf install -y python3-debian dpkg-dev openssl tree
  script:
    - cp tests/builder-ci.yml builder.yml
    - sed -i 's/docker/qubes/' builder.yml
    - 'sed -i ''s|image:.*|dispvm: "qubes-builder-dvm"|'' builder.yml'
    - ./qb -d "${CI_JOB_NAME#qubes-}" package all
  after_script:
    - rm -rf artifacts/cache
    - tree artifacts

.component_local_job:
  stage: build
  tags:
    - vm
  artifacts:
    paths:
      - artifacts
  before_script:
    - cp -r tests/gnupg ~/.gnupg
    - chmod 700 ~/.gnupg
    - tar xf artifacts.tar.xz
    - sudo dnf install -y python3-debian dpkg-dev openssl tree
  script:
    - cp tests/builder-ci.yml builder.yml
    - sed -i 's/docker/local/' builder.yml
    - 'sed -i ''s|image:.*|directory: "/home/gitlab-runner/tmp"|'' builder.yml'
    - ./qb -d "${CI_JOB_NAME#local-}" package all
  after_script:
    - rm -rf artifacts/cache
    - tree artifacts

.template_qubes_job:
  stage: build
  tags:
    - qubes
  before_script:
    - cp -r tests/gnupg ~/.gnupg
    - chmod 700 ~/.gnupg
    - sudo dnf install -y python3-debian dpkg-dev openssl tree
  script:
    - cp tests/builder-ci.yml builder.yml
    - sed -i 's/docker/qubes/' builder.yml
    - 'sed -i ''s|image:.*|dispvm: "qubes-builder-dvm"|'' builder.yml'
    - ./qb -t "${CI_JOB_NAME#qubes-template-}" template all

#
# Components
#

# Cache

cache-host-fc32:
  extends: .init_cache_job

cache-vm-fc36:
  extends: .init_cache_job

cache-vm-centos-stream8:
  extends: .init_cache_job

cache-vm-bullseye:
  extends: .init_cache_job

# Podman executor

podman-host-fc32:
  extends: .component_podman_job
  needs:
    - cache-host-fc32

podman-vm-fc36:
  extends: .component_podman_job
  needs:
    - cache-vm-fc36

podman-vm-centos-stream8:
  extends: .component_podman_job
  needs:
    - cache-vm-centos-stream8

#podman-vm-bullseye:
#  extends: .component_podman_job

# Docker executor

docker-host-fc32:
  extends: .component_docker_job
  needs:
    - cache-host-fc32

docker-vm-fc36:
  extends: .component_docker_job
  needs:
    - cache-vm-fc36

docker-vm-centos-stream8:
  extends: .component_docker_job
  needs:
    - cache-vm-centos-stream8

docker-vm-bullseye:
  extends: .component_docker_job
  needs:
    - cache-vm-bullseye

# Qubes executor

qubes-host-fc32:
  extends: .component_qubes_job
  needs:
    - cache-host-fc32

qubes-vm-fc36:
  extends: .component_qubes_job
  needs:
    - cache-vm-fc36

qubes-vm-centos-stream8:
  extends: .component_qubes_job
  needs:
    - cache-vm-centos-stream8

qubes-vm-bullseye:
  extends: .component_qubes_job
  needs:
    - cache-vm-bullseye

# Local executor

local-host-fc32:
  extends: .component_local_job
  needs:
    - cache-host-fc32

local-vm-fc36:
  extends: .component_local_job
  needs:
    - cache-vm-fc36

local-vm-centos-stream8:
  extends: .component_local_job
  needs:
    - cache-vm-centos-stream8

local-vm-bullseye:
  extends: .component_local_job
  needs:
    - cache-vm-bullseye

#
# Templates
#

qubes-template-fedora-36-xfce:
  extends: .template_qubes_job

qubes-template-centos-stream-8:
  extends: .template_qubes_job

qubes-template-debian-11:
  extends: .template_qubes_job

qubes-template-whonix-gateway-16:
  extends: .template_qubes_job

qubes-template-whonix-workstation-16:
  extends: .template_qubes_job
  allow_failure: true

#
# ISO
#

installer-iso-full-online:
  stage: build
  tags:
    - vm
  artifacts:
    paths:
      - artifacts/installer
  before_script:
    - cp -r tests/gnupg ~/.gnupg
    - chmod 700 ~/.gnupg
    - docker pull fepitre/qubes-builder-fedora:latest
    - docker tag fepitre/qubes-builder-fedora:latest qubes-builder-fedora:latest
    - sudo dnf install -y python3-debian dpkg-dev openssl tree mktorrent
  script:
    - cp tests/builder-ci.yml builder.yml
    - ./qb installer init-cache all
  after_script:
    - rm -rf artifacts/cache
    - tree artifacts
