admin.vm.device.block.Attach     *  work-qubesos  @tag:disp-created-by-work-qubesos  allow  target=dom0
qubesbuilder.WinSign.Timestamp   *  work-qubesos  @tag:disp-created-by-work-qubesos  allow

admin.vm.property.Get            *  work-qubesos  work-qubesos  allow  target=dom0
admin.vm.device.block.Available  *  work-qubesos  work-qubesos  allow  target=dom0

admin.vm.Start                   *  work-qubesos  win-build     allow  target=dom0
admin.vm.CurrentState            *  work-qubesos  win-build     allow  target=dom0
admin.vm.property.Get            *  work-qubesos  win-build     allow  target=dom0
admin.vm.device.block.Attach     *  work-qubesos  win-build     allow  target=dom0

qubesbuilder.WinSign.QueryKey   +Qubes__Windows__Tools  work-qubesos  vault-sign  allow
qubesbuilder.WinSign.CreateKey  +Qubes__Windows__Tools  work-qubesos  vault-sign  allow
qubesbuilder.WinSign.DeleteKey  +Qubes__Windows__Tools  work-qubesos  vault-sign  allow
qubesbuilder.WinSign.GetCert    +Qubes__Windows__Tools  work-qubesos  vault-sign  allow
qubesbuilder.WinSign.Sign       +Qubes__Windows__Tools  work-qubesos  vault-sign  allow
