#
# /etc/pacman.conf
#
# See the pacman.conf(5) manpage for option and repository directives

#
# GENERAL OPTIONS
#
[options]
# The following paths are commented out with their default values listed.
# If you wish to use different paths, uncomment and update the paths.
#RootDir     = /
#DBPath      = /var/lib/pacman/
#CacheDir    = /var/cache/pacman/pkg/
#LogFile     = /var/log/pacman.log
#GPGDir      = /etc/pacman.d/gnupg/
#HookDir     = /etc/pacman.d/hooks/
HoldPkg     = pacman glibc
#XferCommand = /usr/bin/curl -L -C - -f -o %o %u
#XferCommand = /usr/bin/wget --passive-ftp -c -O %o %u
#CleanMethod = KeepInstalled
Architecture = auto

# Pacman won't upgrade packages listed in IgnorePkg and members of IgnoreGroup
#IgnorePkg   =
#IgnoreGroup =

#NoUpgrade   =
#NoExtract   =

# Misc options
#UseSyslog
#Color
#NoProgressBar
#CheckSpace
#VerbosePkgLists
ParallelDownloads = 5

[core]
SigLevel = Required DatabaseOptional
{%- for server in servers %}
Server = {{ server }}/$repo/os/$arch
{% endfor %}

[community]
SigLevel = Required DatabaseOptional
{%- for server in servers %}
Server = {{ server }}/$repo/os/$arch
{% endfor %}

[extra]
SigLevel = Required DatabaseOptional
{%- for server in servers %}
Server = {{ server }}/$repo/os/$arch
{% endfor %}

[multilib]
SigLevel = PackageRequired
{%- for server in servers %}
Server = {{ server }}/$repo/os/$arch
{% endfor %}

{% if enable_builder_local %}
[qubes]
SigLevel = Optional TrustAll
Server = file:///builder/repository/pkgs
{% endif %}

{% if use_qubes_repo_testing %}
[qubes-r{{use_qubes_repo_version}}-current-testing]
Server = https://archlinux.qubes-os.org/r{{use_qubes_repo_version}}/current-testing/vm/archlinux/pkgs
{% endif %}

{% if use_qubes_repo_version %}
[qubes-r{{use_qubes_repo_version}}-current]
Server = https://archlinux.qubes-os.org/r{{use_qubes_repo_version}}/current/vm/archlinux/pkgs
{% endif %}
